<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="at.wouldyourather"
          android:versionCode="23"
          android:versionName="0.23"
          android:sharedUserId="at.wouldyourather"
          xmlns:tools="http://schemas.android.com/tools">
    <!--'android:sharedUserId' lets share preferences between apps-->

    <uses-sdk 
        android:minSdkVersion="11"
        android:targetSdkVersion="23"
        tools:overrideLibrary="com.facebook"/>
        
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <!--error catch-->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>

    <!--ADS-->
    <!--<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />-->

    <!--<uses-permission android:name="android.permission.GET_TASKS" />-->
    <!--Allow activate 'usage access' (checked)-->
    <!--'ProtectedPermissions' disable warning that permission is system level and will not be granted to third-party apps-->
    <!--<uses-permission android:name="android.permission.PACKAGE_USAGE_STATS" />-->
           
    <application
        android:icon="@drawable/ic_launcher_free"
        android:label="@string/free_name"
        tools:replace="android:label"
        android:theme="@style/Theme.AppTheme">
		
        <!--SINGLE TASK--> 
        <activity
            android:name=".MainActivity"
            android:launchMode="singleTask" 
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
        </activity>
        
        <activity-alias 
            android:label="@string/free_name" 
            android:icon="@drawable/ic_launcher_free"
            android:name=".FreeActivity"
            android:enabled="true"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>   
        </activity-alias>
        
        <activity-alias 
            android:label="@string/pro_name" 
            android:icon="@drawable/ic_launcher_pro" 
            android:name=".PremiumActivity"
            android:enabled="false"
            android:targetActivity=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>   
        </activity-alias>
        
        <!--launchMode: standard callas and puts over normal activity-->
        <activity
            android:name="at.imagevote.LinkActivity"
            android:launchMode="singleInstance" 
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">

            <intent-filter>
                <!--important android:pathPattern prevents no last slash url-->
                <!--<data android:host="would-you-rather.at" android:scheme="http" android:pathPattern="/.*"/>-->
                <data android:host="would-you-rather.tk" android:scheme="http" android:pathPattern="/.*" />
                <data android:host="wouldyourather.co" android:scheme="http" android:pathPattern="/.*" />
                <data android:host="queprefieres.online" android:scheme="http" android:pathPattern="/.*" />
                <data android:host="wurdestdulieber.online" android:scheme="http" android:pathPattern="/.*" />
                <data android:host="tupreferes.online" android:scheme="http" android:pathPattern="/.*" />
                <data android:host="tucosapreferiresti.online" android:scheme="http" android:pathPattern="/.*" />
                <data android:host="voceprefere.online" android:scheme="http" android:pathPattern="/.*" />
                
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity
            android:name="at.imagevote.LinkActivity2"
            android:launchMode="singleTask"
            android:configChanges="keyboard|keyboardHidden|orientation|screenSize">
            <intent-filter>
                <data android:host="share.would-you-rather.tk" android:scheme="http" android:pathPattern=".*" />
                <data android:host="share.wouldyourather.co" android:scheme="http" android:pathPattern="/.*" />
                <data android:host="share.queprefieres.online" android:scheme="http" android:pathPattern=".*" />
                <data android:host="share.wurdestdulieber.online" android:scheme="http" android:pathPattern=".*" />
                <data android:host="share.tupreferes.online" android:scheme="http" android:pathPattern=".*" />
                <data android:host="share.tucosapreferiresti.online" android:scheme="http" android:pathPattern=".*" />
                <data android:host="share.voceprefere.online" android:scheme="http" android:pathPattern=".*" />
                
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <!-- MORE share options activity-->
        <activity
            android:name="at.imagevote.MoreShareOptions"
            android:icon="@drawable/more_icon" 
            android:label="@string/moreShareOptionsLabel"
            android:launchMode="singleInstance" >
        </activity>

        <activity android:name="com.facebook.ads.InterstitialAdActivity" android:configChanges="keyboardHidden|orientation" />
        
        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="17d20e8ed435e0e3808a1ced27eed2fafe3eed6f" /><!--Google Play services for App Indexing. https://g.co/AppIndexing/AndroidStudio-->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <meta-data android:name="com.facebook.sdk.ApplicationId" android:value="@string/facebook_app_id"/>

    </application>

</manifest>
