/.gradle/
/.idea/
/.nb-gradle/

/build/
/gradle/
/private/

/app_free/.gradle/
/app_free/.idea/
/app_free/build/
/app_free/gradle/
/app_free/private/

/app_free/app_free.iml
/app_free/build_gradle
/app_free/gradlew
/app_free/gradlew.bat
/app_free/local.properties
/nbproject/private/