[submodule "app_free/src/main/java/at/imagevote"]
	path = app_free/src/main/java/at/imagevote
	url = https://trollderiu@bitbucket.org/imageVote/android.git
[submodule "app_free/src/main/assets"]
	path = app_free/src/main/assets
	url = https://trollderiu@bitbucket.org/imageVote/would-you-rather.git
