*.iml
.gradle
local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
build/
/captures

.gradle/
.idea/
.nb-gradle/

gradle/
private/

/app_free/build_gradle
/app_free/gradlew
/app_free/gradlew.bat

/libs_release
/versions
*.apk
