
#votation .options{
    margin-bottom: 15px;
    font-size: 15px;
}
#votation .options input{
    vertical-align: sub;
}
#votation .options span{
    vertical-align: middle;
}

#votationOwner{
    font-size: 15px;
    margin: 5px 0;
    color: rgb(50,50,50);
}
#votationOwner .by{
    color: grey;
}

#defaultButtons{
    display: inline-block;
}

#defaultButtons > *{
    margin-bottom: 10px;
}
#defaultButtons input[type="text"]{
    padding: 0 8px;
    background-color: rgb(235,235,235);
    color: rgb(99,99,99);
    /*box-shadow: none !important;*/
}

#userNamePoll{
    margin-bottom: 10px;
}

/*#userNamePoll:invalid{
    background-color: rgb(255,253,235) !important;
    border: 1px solid grey !important;
    box-shadow: 0 0 5px orange, inset 1px 1px 0px rgb(170,170,170) !important;
}*/
#userNamePoll:focus{
    background-color: rgb(255,255,225) !important;
}
