RewriteEngine on

# NEVER DO THIS, IT'S SO DANGEROUS:
#RewriteCond %{HTTP_USER_AGENT} "android" [NC]
#RewriteRule ^(.*)$ https://play.google.com/store/apps/details?id=at.clicktovote [L,QSA]

RewriteRule ^nbproject(/|/.+)?$ /?nbproject [L]

# if not key remote file http-post
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# only redirect main domain
RewriteCond %{REQUEST_URI} !^/.*/.*

RewriteRule ^(.*)$ / [L]

# else subfolder wrong
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

RewriteRule ^(.*)$ / [L,R=301]
